.doc {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

.CodeMirror {
  flex: 1;
}

.status {
  font-size: 75%;
}
.status span {
  margin-right: 1rem;
}

.rendezvous {
  font-size: 50%;
}

.peers {
  font-family: monospace;
}

.peers ul {
  list-style: none;
  line-height: 150%;
  display: flex;
  flex-wrap: wrap;
}

.peers li {
  background: whitesmoke;
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.peers ul li.local::before {
  content: "▶";
  color: #666666;
  display: inline-block;
  font-size: 50%;
  width: 1.5em;
  margin-left: -1.5em;
}

.peers ul li span {
  margin-right: 0.5rem;
}

.CodeMirror {
  font-size: 16px;
}

.CodeMirror-scroll {
  -webkit-overflow-scrolling: touch;
}
