.doc {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.CodeMirror {
  flex: 1;
}

.status span {
  margin-right: 1rem;
}

.peers {
  font-family: monospace;
}

.peers ul li span {
  margin-right: 0.5rem;
}